@font-face {
  font-family: "JioType-Bold";
  src: url("./JioFonts/JioType-Bold_0.ttf");
}
@font-face {
  font-family: "Jio-Light";
  src: url("./JioFonts/JioType-Light_0.ttf");
}

@font-face {
  font-family: "JioType-LightItalic";
  src: url("./JioFonts/JioType-LightItalic_0.ttf");
}

@font-face {
  font-family: "JioType-Medium";
  src: url("./JioFonts/JioType-Medium_0.ttf");
}

@font-face {
  font-family: "JioType-MediumItalic";
  src: url("./JioFonts/JioType-MediumItalic_0.ttf");
}

@font-face {
  font-family: "Jio-TypeBlack";
  src: url("./JioFonts/JioType-Black_0.ttf");
}

.App {
  text-align: center;
  width: auto;
}
